Package: com.mtac.ctf
Name: CaptureTheFlag
Depends: mobilesubstrate
Version: 1.0.4
Architecture: iphoneos-arm
Description: Stop CoreText frame buffer bugs on iOS 13
Maintainer: MTAC
Author: MTAC
Section: Tweaks
