Package: com.mtac.ctf
Name: CaptureTheFlag
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Stop the Italian flag string bug from freezing your device
Maintainer: MTAC
Author: MTAC
Section: Tweaks
