Package: com.mtac.ctf
Name: CaptureTheFlag
Depends: mobilesubstrate
Version: 1.0.2
Architecture: iphoneos-arm
Description: Stop the Sindhi string bug from freezing your device
Maintainer: MTAC
Author: MTAC
Section: Tweaks
